<mat-card class="post-card">
  
  <div mat-card-avatar class="example-header-image">
    <!-- <button btn mat-raised-button color="primary">Добавить фото</button> -->
    <!-- <input type="file" name="adasd" value="asdasd"> -->
  </div>
  <img mat-card-image src="{{post.img}}" width="300px" height="400px" alt="Photo">
  <mat-card-content>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <button btn mat-raised-button color="primary" (click)="openEditCardPopup(post.id);" (click)="onEdit()">Редактировать</button>
    <button btn mat-raised-button color="primary" (click)="onDelete();">Удалить</button>
    <p>
     {{post.description }}
    </p>

    <span>Added by username</span>
    <span>{{today | date}}</span>
  </mat-card-content>
  <span class="fullRating">Rating:
    <bar-rating [(rate)]= post.rate [theme]="'stars'"></bar-rating>
  </span>
  <span class="myRating">My Rating:
    <bar-rating [(rate)]="myRating" [theme]="'stars'"></bar-rating>
  </span>

</mat-card>

