<!-- <html lang="en">

<head>
  <meta charset="utf-8">
  <title>Photoalbum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
 -->

<body>

  <form class="sign-up-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">
    <div class="alert" *ngIf="error">{{error}}</div>
    <mat-form-field class="name">
      <input matInput placeholder="Введите имя" type="text" required formControlName="name">
    </mat-form-field>
    <span class="form-error-text" *ngIf="registerForm.get('name').invalid && registerForm.get('name').touched">
      <span *ngIf="registerForm.get('name')['errors'] ['required']">Имя не может быть пустым.</span>
    </span>

    <mat-form-field class="login">
      <input matInput placeholder="Введите Логин" type="text" required formControlName="login">
    </mat-form-field>
    <span class="form-error-text" *ngIf="registerForm.get('login').invalid && registerForm.get('login').touched">
      <span *ngIf="registerForm.get('login')['errors'] ['required']">Логин не может быть пустым.</span>
    </span>

    <mat-form-field class="password">
      <input matInput placeholder="Введите пароль" type="password" required formControlName="password">
    </mat-form-field>
    <span class="form-error-text" *ngIf="registerForm.get('password').invalid && registerForm.get('password').touched">
      <span *ngIf="registerForm.get('password')['errors'] ['required']">Пароль не может быть пустым.</span>
      <span *ngIf="registerForm.get('password')['errors'] ['minlength']">
        Пароль должен быть не меньше {{registerForm.get('password')['errors'] ['minlength']['requiredLength']}} символов, сейчас
        {{registerForm.get('password')['errors'] ['minlength']['actualLength']}}.
      </span>
    </span>
    <mat-card-actions>
      <button mat-button class="submit" color="primary" [disabled]="registerForm.invalid">Зарегистрироваться</button>
      <button mat-button class="go-to-main-page" color="primary" (click)="goToMainPage()">На главную</button>
    </mat-card-actions>
  </form>


</body>

<!-- </html> -->