body {
  /* height: 99vh; */

}

.sign-up-form {
  padding-top: 30px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 10%;
  /* background-color: white; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); */
}

.login,
.password,
.submit,
.name {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-error-text {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: red;
}
.alert{
  text-align: center;
  color: red;
  margin: 0 auto;
}
.submit {
  margin-top: 50px;
}
.go-to-main-page{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 20px;
  width: 200px;
}
