
.comments-container {
  height: auto;
}

ul {
  list-style: none;
}

.show-comment-btn {
  margin-top: 10px;
}

.comments-list {
  height: auto;
}

.btn {
  padding: 0;
  white-space: normal;
}

.comment-user{
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #3F51B5;
}