<div class="comments-container">
  <button class="btn show-comment-btn" mat-button color="primary" (click)="showComments(); showHideComments()">
    <i class="material-icons">comment</i>
    {{isShowedComments == false ? 'Показать комментарии': 'Скрыть комментарии'}}
  </button>
  <ul class="comments-list" *ngIf="isShowedComments">
    <mat-radio-group class="example-radio-group" *ngIf="isComment">
      <mat-radio-button class="example-radio-button" value="alphabet" color="primary" (change)="orderByAlpabet()">
        По алфавиту
      </mat-radio-button>
      <mat-radio-button class="example-radio-button" value="date" color="primary" [checked]="orderByDefault" (change)="orderByDate()">
        По дате
      </mat-radio-button>
    </mat-radio-group>

    <li *ngFor="let comm of photoComments; let i = index">
      <div class="show-comments" *ngIf="!isNoComment">
        <div class="comment-user">
          <span>{{comm['user']}}</span>
        </div>
        <div class="comment-text">
          <span>{{comm['text']}}</span>
        </div>
        <div class="comment-date">
          <span>Добавлено {{comm['date'] | date: "MMM d yyyy, HH:mm"}}</span>
        </div>
      </div>
      <div *ngIf="isEditable[i]">
        <app-edit-comment [comm]="comm" (commentText)="editComment($event)"></app-edit-comment>
      </div>
      <button class="edit-comment--btn" mat-icon-button color="primary" (click)="isCommentEditable(i)">
        <i class="material-icons">edit</i>
      </button>
      <button class="delete-comment--btn" mat-icon-button color="primary" (click)="deleteComment(comm['id'])">
        <i class="material-icons">delete</i>
      </button>
      <mat-divider></mat-divider>
    </li>
    <div *ngIf="isNoComment">Комментариев Нет</div>
  </ul>

</div>