.comments-container {
  height: auto;
}

mat-list {
  list-style: none;
  word-wrap: break-word;
}

.comments-list {
  height: auto;
}

.btn {
  padding: 0;
  white-space: normal;
}

.comment-user {
  font-size: 14px;
  font-weight: 500;
  color: #3F51B5;
}

.comment-date {
  font-size: 14px;
  font-weight: 500;
  color: #3F51B5;
}

.comment-text {
  display: inline-block;
  white-space: pre-line !important;
  overflow: auto !important;
}

.comments-action-button {
  margin-right: -220px !important;
}

.edit-comment--btn,
.delete-comment--btn {
  display: inline !important;
}

mat-list-item {
  height: auto !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.comment-icons {
  font-size: 18px;
}

.show-comments {
  width: 80%;
}
