

textarea {
  min-height: 100px;
 
}

mat-form-field {
    width: 100%;
}

.image-input-label {
  display: block;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  padding-bottom: 15px;
}
.image-preview{
  border: 2px solid #3F51B5;;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.btn{
    margin-top: 10px;
    padding-left: 0;
}
