<form class="add-popup-form" [formGroup]="addPopupForm" (ngSubmit)="addPost()">
    <mat-dialog-content>
  <!-- <div class="add-card-popup"> -->
    <!-- <div class="image-input-wrapper"> -->
      <h1 mat-dialog-title>Добавить фото</h1>
      <label>Фотография</label>
      <br>

      <!-- <input type="file" (change)="onFileSelected($event)" required formControlName="img"> -->
      <input hidden="true" type="file" id="file-input" (change)="onFileSelected($event)" required formControlName="img">
      <label class="image-input-label" for="file-input">
        <a mat-button color="primary" class="btn">
          <i class="material-icons">file_upload</i>
          Загрузить файл
        </a>
      </label>
      <img [src]="imgUrl" class="image-preview" *ngIf="imgUrl!=null">
    <!-- </div> -->
    <label class="title-label">Заголовок</label>
    <br>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="newTitle" required formControlName="title">
    </mat-form-field>
    <br>

    <label>Описание</label>
    <br>
    <mat-form-field>
      <textarea matInput [(ngModel)]="newDesc" required formControlName="desc"></textarea>
    </mat-form-field>
  <!-- </div> -->
  </mat-dialog-content>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close color="primary" class="popup-btn">Отмена</button>
    <button mat-button class="popup-btn" color="primary" class="submit" [disabled]="addPopupForm.invalid">Добавить</button>
  </div>
</form>