<div class="AddCardPopup">
  <label>Image</label>
  <br>

  <input type="file" (change)="onFileSelected($event)">
  <br><br>
  <label>Title</label>
  <br>
  <mat-form-field>

    <input matInput type="text" [(ngModel)]="newTitle">
  </mat-form-field>
  <br>

  <label>Descriprion</label>
  <br>
  <mat-form-field>
    <!-- <textarea matInput #description ></textarea>  -->
    <textarea matInput [(ngModel)]="newDesc"></textarea>
  </mat-form-field>
</div>
<div class="popup-buttons">
  <button mat-button mat-dialog-close class="popup-btn">Отмена</button>
  <button mat-raised-button class="popup-btn" (click)="addPost()">Добавить</button>
</div>

