<h3>Please Enter Info: </h3>
<div class="AddCardPopup">
  <label>Image</label>
  <br>

  <input type="file" (change)="onFileSelected($event)">
  <label>Title</label>
  <br>
  <mat-form-field>

    <input matInput type="text" [(ngModel)]="newTitle">
  </mat-form-field>
  <br>

  <label>Descriprion</label>
  <br>
  <mat-form-field>
    <!-- <textarea matInput #description ></textarea>  -->
    <textarea matInput [(ngModel)]="newDesc"></textarea>
  </mat-form-field>
</div>

<button mat-raised-button class="popup-btn" (click)="addPost()">Submit</button>

