<form class="commentsForm" [formGroup]="commentInputForm" (ngSubmit)="addComment()">
    <mat-form-field>
      <textarea matTextareaAutosize  maxlength="152" class="comment_field" matInput placeholder="Введите комментарий" formControlName="commentControl"
        [(ngModel)]="commentText" (ngModelChange)="onCheckLength()"></textarea>
    </mat-form-field>
    <button class="submit-btn" mat-icon-button color="primary" type="submit" [disabled]="isFormInvalid">
      <i class="material-icons">send</i>
    </button>
</form>