<!--The content below is only a placeholder and can be replaced.-->


<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Фотоальбом</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="postCard-container">
  <mat-grid-list cols="4" rowHeight="820px">
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-post-card></app-post-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

