<button class=" btn show-comment-input-btn" mat-button color="primary" (click)="showCommentInput()">
  <i class="material-icons">add_comment</i>
  Добавить комментарий
</button>
<form class="commentsForm" [formGroup]="commentsForm" (ngSubmit)="addComment()">
  <div class="show-input-wrapper" *ngIf="isShowedInput">
    <mat-form-field>
      <textarea matInput placeholder="Введите комментарий" formControlName="comment"></textarea>
    </mat-form-field>
    <button class="submit-btn" mat-button color="primary" type="submit">
      <i class="material-icons">send</i>
      Отправить</button>
  </div>
</form>