
.sign-in-form {
  padding-top: 30px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

.login,
.password {
  display: block;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-error-text {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: red;
}

.submit {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.alert {
  text-align: center;
  color: red;
  margin: 0 auto;
}

.go-to-main-page {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 200px;
}
.card-actions{
  margin: 0 auto;
  width: 100%;
}