<app-navigation [isAuth]="isAuth()"></app-navigation>
<div class="postCard-container">

    <!-- <mat-radio-group class="example-radio-group">
        <mat-radio-button class="example-radio-button" value="alphabet" color="primary" (change)="orderByAlpabet()">
          Alphabet
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" value="2" color="primary" [checked]="orderByDefault" (change)="orderByDate()">
           New first
          </mat-radio-button>
      </mat-radio-group> -->
    <div class="addButton-container">
      <button mat-raised-button color="primary" (click)="openAddCardPopup();">Добавить фото</button>
    </div>


    <div class="flex-card-container" fxLayout="row wrap" fxLayout.xs="column">
      <div class="flex-card-item" *ngFor="let post of posts;let i = index" fxFlex="25" >
        <app-mypostcard  [post]="post" (delete)="deleteMyPost(post)" (edit)="editMyPost($event)" (addRatingEmitter)= "addRating($event, post)"></app-mypostcard>
      </div>
  </div>
</div>

