<app-navigation [isAuth]="isAuth()"></app-navigation>
<div class="postCard-container">
  <mat-grid-list cols="4" rowHeight="820px">
    <div class="addButton-container">
      <button mat-raised-button color="primary" (click)="openAddCardPopup();">Добавить фото</button>
    </div>

    <mat-grid-tile *ngFor="let post of posts; let i = index">
      <app-mypostcard  [post]="post" (delete)="deleteMyPost(post)" (edit)="editMyPost($event)"></app-mypostcard>
    </mat-grid-tile>


  </mat-grid-list>
</div>

