<mat-card class="post-card">
  <img mat-card-image src="{{post.imageUrl}}" alt="Photo">
  <mat-card-content>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <button btn mat-raised-button color="primary" (click)="openEditCardPopup();">Редактировать</button>
    <button btn mat-raised-button color="primary" (click)="onDelete();">Удалить</button>
    <p>
      {{post.description }}
    </p>

    <span>Added by {{post.user}}</span>
    <span>{{post.uploadDate | date: "MMM d yyyy, HH:mm" }}</span>
  </mat-card-content>
  <app-ratings [post]="post" (ratingEmitter)="addRating($event)"></app-ratings>
  <app-comments-wrapper [post]="post"></app-comments-wrapper>
</mat-card>
