<mat-card class="post-card mat-typography">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{post.imageUrl}}" alt="Photo">
  <mat-card-content>

    <p>
      {{post.description }}
    </p>
    <div class="post-added">
      <span class="post-added-user">Добавлено {{post.user}}</span>
      <span class="post-date">{{post.uploadDate | date: "MMM d yyyy, HH:mm" }}</span>
    </div>
    <div class="post-edited" *ngIf="post.editDate">
      <span class="post-edited-user">Изменено {{post.user}}</span>
      <span class="post-edited-date">{{post.editDate| date: "MMM d yyyy, HH:mm" }}</span>
    </div>
    <!-- <app-ratings (ratingEmitter)="addRating($event)"></app-ratings> -->
    <app-comments-wrapper [post]="post"></app-comments-wrapper>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button color="primary" class=" btn edit_post-button" (click)="openEditCardPopup();">
      Редактировать
    </button>
    <button mat-button color="primary" class=" btn delete_post-button" (click)="onDelete();">
      Удалить
    </button>
  </mat-card-actions>
</mat-card>