mat-toolbar {
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 10;

}
nav a{
   /* color: white; */
    opacity: 1;
}
a {
    text-decoration: none;
    padding: 0;
}
.register{
    position: absolute;
    right: 0;
}
.greetings {
    font-size: 14px;
    display: inline-block;
    color: white;
}
.greetings:active{
    border-bottom: 2px solid white;
}
.greetings i{
   
    margin-top: 10px;
}

.active{
    border-bottom: 2px solid white;
  }