<mat-toolbar color="primary" *ngIf="!isAuth">
  <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Все фото</a>

  <a mat-button routerLink="/myphotos" routerLinkActive="active">Мои фото</a>


  <a mat-button routerLink="/login" routerLinkActive="active">
    <a>Вход</a>
  </a>
  <a mat-button routerLink="/register" routerLinkActive="active">
    <a>Регистрация</a>
  </a>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isAuth">


  <a mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Все фото</a>

  <a mat-button routerLink="/myphotos" routerLinkActive="active">Мои фото</a>
  <a mat-button class="greetings" (click)="changeUser()">
    Профиль
  </a>
  <a mat-button (click)="logout()" routerLinkActive="active">Выход</a>


</mat-toolbar>