
  <h1 mat-dialog-title>Редактировать фото</h1>
  <mat-dialog-content>
  <label>Заголовок</label>
 
  <mat-form-field>
    <input matInput type="text" value="ssss" [(ngModel)]="editedTitle">
  </mat-form-field>
  <br>

  <label>Описание</label>
  <br>
  <mat-form-field>
    <textarea matInput [(ngModel)]="editedDesc"></textarea>
  </mat-form-field>

</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary" class="popup-btn">Отмена</button>
  <button mat-button class="popup-btn" color="primary" (click)="editPost()">Изменить</button>
</div>